body {
	margin: 0 auto;
}
.add {
	text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #6a8bc5;
    color: #fff;
    padding: 5px 20px;
}
.add:hover{
	background-color: #6a8bc5;
	color: #ad8b8b;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
.form{
	float: right;
}
.table ,.table th,.table td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.table{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}
.table td{
	text-align: center;
}

.hoTen{
	text-decoration: none;
	color: #000;
}
.hoTen:hover{
	text-decoration: underline;
	color: #2f86c3;
}
.btn{
	text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px 5px;
    background-color: #6a8bc5;
    color: #fff;
    border-radius: 10%;
}
.btn:hover {
	text-decoration: none;
	background-color: #6a8bc5;
	color: #ad8b8b;
}